/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	background-image: url(./images/bg-pattern-desktop.svg);
}

h1 {
	font-size: 2rem;
}

p {
	font-weight: bolder;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

.red {
	color: hsl(0, 93%, 68%);
	font-weight: 300;
}

.bold {
	font-weight: 600;
	color: hsl(0, 6%, 24%);
}

/* grid-container styles */
.container {
	display: grid;
	grid-template-areas:
		"header"
		"img-container"
		"text-container";
	height: 100vh;
}

/* header styles */
header {
	display: flex;
	align-items: center;
	grid-area: header;
}
header img {
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}

/* image container styles */
.img-container {
	grid-area: img-container;
}
.img-container img {
	width: 100%;
	height: auto;
}

.hero-desktop {
	display: none;
}

/* text-container styles */
.text-container {
	grid-area: text-container;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.text-container h1 {
	letter-spacing: 1.4rem;
}
/* footer styles */
footer {
	grid-area: footer;
}
/* email input styles */
.email {
	position: relative;
}
input {
	width: 100%;
	border-radius: 2rem;
	padding: 1rem;
	margin-top: 1rem;
	color: hsl(0, 6%, 24%);
	font-family: "Josefin Sans", sans-serif;
	border: 1px solid hsl(0, 6%, 24%);
}

#enter {
	background: linear-gradient(
		0.25turn,
		hsl(0, 79%, 74%),
		60%,
		hsl(0, 93%, 68%)
	);
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0.7rem 1.5rem;
	border-radius: 2rem;
	border: 1px solid hsl(0, 93%, 68%);
}

#enter:hover {
	padding: 0.8rem 2rem;
	background: hsl(0, 84%, 80%);
	border: transparent;
}

@media only screen and (min-width: 1025px) {
	.hero-mobile {
		display: none;
	}
	.hero-desktop {
		display: block;
	}

	.container {
		padding-left: 10%;
		text-align: center;
		align-items: center;
		margin-top: 2rem;
		grid-template-areas:
			"header img-container"
			"text-container img-container"
			"footer img-container";
	}

	.img-container {
		height: 100%;
	}

	.img-container img {
		height: 100%;
		width: auto;
	}
	.text-container {
		width: 60%;
		text-align: left;
		margin: 4rem auto 2rem 1rem;
	}

	.text-container h1 {
		font-size: 4rem;
		margin-top: 4rem;
	}

	p {
		font-size: 1.1rem;
		padding: 2rem 0 3rem 0;
		line-height: 2rem;
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
