/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 2rem;
}

p {
	font-weight: bolder;
	font-size: 14px;
	line-height: 1.2rem;
}

.red {
	color: hsl(0, 36%, 70%);
	font-weight: 300;
}

.bold {
	font-weight: 600;
	color: hsl(0, 6%, 24%);
}
/* grid-container styles */
section {
	border: 1px solid black;
	display: grid;
	grid-template-areas:
		header
		img-container
		text-container;
	height: 100vh;
}

/* header styles */

header img {
	padding: 0.5rem;
}

/* image container styles */
.img-container img {
	width: 100%;
	height: auto;
}

/* text-container styles */
.text-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.text-container h1 {
	letter-spacing: 0.5rem;
}

/* email input styles */
input {
	width: 100%;
	border-radius: 2rem;
	padding: 0.75rem;
	margin-top: 1rem;
	color: hsl(0, 6%, 24%);
	font-family: "Josefin Sans", sans-serif;
}

.email::after {
	content: url(/images/icon-arrow.svg);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
